* {
    margin: 0;

    padding: 0;

    box-sizing: border-box;
}

body {

    background-color: #696969;

}

header {

    background-color: #505050;

    height: 75px;

    position: relative;

    display: flex;

    align-items: center;

    transition: box-shadow 0.4s ease;
}

header:hover {

    box-shadow: 0 2.5px 4px rgba(0, 0, 0, 0.2);

}

::-webkit-scrollbar {

    width: 0px;

}

#menu {

    width: 90px;

    height: 50px;

    position: absolute;

    left: 10px;

    top: 50%;

    transform: translateY(-50%);

}

#logo {

    width: 77.82px;

}

#centroLogo {

    margin: 0 auto;

    padding-left: 5.577291%;

}

#FAQ {

    margin-right: 20px;

}

#FaRyzen {

    margin-top: 55px;
    margin-left: 25px;
    font-family: 'Courier New', Courier, monospace;
    font-size: x-large;
    color: #e57f2c;
    margin-bottom: 45px;

}

a {

    text-decoration: none;

}

.Fundos {
    margin-left: 50px;
    height: 270px;
    border-radius: 17.3px;
    transition: height 700ms ease, box-shadow 0.4s ease;
}

.Fundos:hover {

    height: 300px;

}

.Bronze {
    transition: height 700ms ease, box-shadow 0.4s ease;
}

.Bronze:hover {

    box-shadow: 0px 0px 90px #704729;
    height: 300px;

}

.Prata {

    transition: height 400ms ease, box-shadow 0.4s ease;

}

.Prata:hover {

    box-shadow: 0px 0px 90px#c4c4c4;
    height: 300px;

}

.Ouro {

    transition: height 700ms ease, box-shadow 0.4s ease;

}

.Ouro:hover {

    box-shadow: 0px 0px 90px#feee60;
    height: 300px;

}

.Platina {

    transition: height 700ms ease, box-shadow 0.4s ease;

}

.Platina:hover {

    box-shadow: 0px 0px 90px#a157f1;
    height: 300px;

}

.Duvidas {

    width: 190px;
    margin-left: 110px;
    margin-bottom: 35px;

}

#FaIntel {

    margin-top: 55px;
    margin-left: 25px;
    font-family: 'Courier New', Courier, monospace;
    font-size: x-large;
    color: #2ca7e5;
    margin-bottom: 45px;

}

hr {

    width: 100%;
    margin: 0 auto;
    border: 0px;
    height: 3px;
    background-image: linear-gradient(to right, #505050 0%, #696969 50%, #505050 100%);

}

#rodape {
    background-image: linear-gradient(to right, #696969 0%, #505050 50%, #696969 100%);
    margin-top: 120px;
    text-align: center;

}



#desenvolvedor {

    font-size: small;
    color: #aca195;
    font-variant: small-caps;
    font-family: 'Lexend Exa', sans-serif;

}

#copyright {

    font-variant: none;
    margin-left: 25.8912px;

}

#logoRodape {

    height: 100px;

}